.header{
    width: 100%;
    height: 60px;
    background-color: var(--main-color);
}
.wrap__header{
    position: sticky;
    top: 0;
    z-index: 999;
}
.logo__img{
    width: 50px;
    transition: .7s;
}
.logo__img:hover{
    transform: rotate(1080deg);
}
.logout{
    transition: all .3s;
}
.logout:hover{
    transform: skew(-20deg);
}
.container{
    width: 90%;
    margin: auto;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
}
.logo{
    height: 60px;
    width: max-content;
    display: flex;
    align-items: center;
}
.control img{
    width: 40px;
}
.control{
    display: flex;
    align-items: center;
    height: 60px;
}