.primary__btn{
    width: max-content;
    padding: 10px 30px;
    border: none;
    background-color: rgb(64, 96, 156);
    color: #fff;
    box-shadow: 0 0 3px rgb(64, 96, 156);
    transition: all .3s;
    cursor: pointer;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    border-radius: 15px;
    font-weight: 700;
}
.primary__btn:hover{
    box-shadow: 0 0 10px rgb(64, 96, 156);
    border-radius: 10px;
}
.primary__btn.active{
    background-color: gray;
    box-shadow: 0 0 0px rgb(64, 96, 156);
}
.primary__btn.active:hover{
    background-color: gray;
    box-shadow: 0 0 0px rgb(64, 96, 156);
    border-radius: 15px;
}