.wr__contact__list{
  width: 90%;
  margin: auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
}
.contact_list{
  padding: 15px;
  border: solid 3px #b399cb;
  border-radius: 15px;
}
.contact_list_item_phones{
  display: flex;
  align-items: center;
  justify-content: space-between;
}